
<!-- src="../assets/imgs/logo4.png"-->
<!--style="background-image:url('./assets/imgs/avocat1.jpg');background-size:100% 100%"-->
<ion-content padding class="bg-images">
<div class="content">
 <ion-img padding   style="background-image:url('./assets/imgs/logo4.png');background-size:100% 100%"  ></ion-img> 
</div>
<br>
<p style="text-align:center" class="titre1" >CONNECTEZ-VOUS POUR COMMENCER VOTRE SESSION</p>
<br>
  <!-- Login form -->
 
      <form   [formGroup]="formgroup">
     
            <ion-item>
             <ion-input type="email"  name="email" placeholder="Email" formControlName="email" required ></ion-input> 
             <ion-icon name="mail" color="primary"  item-end class="text-primary" ></ion-icon>
           </ion-item>
          
           <ion-item *ngIf="email.hasError('required') && email.touched">
              <p  style="color:red"> *Veuillez entrer votre Email</p>
            </ion-item>
            
        <br>
        <ion-item>
            <ion-input type="password"  name="password"placeholder="Mot de passe" formControlName="password" required  ></ion-input>
            <ion-icon name="lock" color="primary" item-end class="text-primary" ></ion-icon>
         </ion-item>
       
         <ion-item *ngIf="password.hasError('required') && password.touched">
            <p style="color:red"> *Veuillez entrer votre mot de passe</p>
          </ion-item>
       
      </form>
   

 
     
      <br>
      
      <button ion-button icon-start color="primary"  (click)="login()"   full  >  Connexion  </button>
     
     <!-- <p text-right ion-text color="primary" tappable (click)="forgotPass()"><strong > Mot de passe oublié ?</strong></p>-->
 
          
     <!-- <button  ion-button  class="btn"  (click)="inscription()"    full >  Inscription</button>-->
  
     
    
  </ion-content>
  