page-mypopover {
    display: block;
.active :hover:not(.active){
    background-color: #555;
    color: white;
    
  
}
.popover-page{
    border-radius:0px!important;
    padding:0px!important;
    width:100%!important;
    left: 0px !important;
}
ion-popover-view.fit {
    width: auto;
    height: auto;
    ion-content {
      position: relative;
    }
  }
  .platform-android ion-popover-view.fit {
    margin-top: 10px;
  }
/*
.scroll-content{
    background-color:aqua;
}*/

}
