page-ajoutcontrats {
    .btn{
        background-color: #337ab7;
         
      }
      .btn:hover {
        background-color: #204d74;
        border-color: #122b40;
        color: white;
      }
}
