page-justificatifs {
    .btn{
        background-color: #337ab7;
         
      }
      .btn:hover {
        background-color: #204d74;
        border-color: #122b40;
        color: white;
      } 
      .btn1{
        background-color: darkgray;
         
      }
      .btn1:hover {
        background-color: #c7c9ca;
        border-color: #d7dce0;
       
      }
      .btn-wrapper {
        text-align: center;
    }


}
